{% extends 'base.html' %}
{% load crispy_forms_tags %}

    {% block head_title %}{{ block.super }} | Login{% endblock head_title %}

{% block content %}

    <div class="row justify-content-center mt-4">
        <div class="col-4 text-center">
            <h2>Accedi</h2>
            <form class="" action="{% url 'login' %}" method="POST" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" class="btn btn-info my-2" value="Login">
                <input type="hidden" name="next" value="{% url 'homepage' %}">
            </form>
            <br>
            <p><a href="{% url 'password_reset' %}">Password dimenticata?</a></p>
        </div>
    </div>

{% endblock content %}

